<%= form_for(@product) do |f| %>
 
 <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :VAT_exempt %><br />
    <%= f.text_field :VAT_exempt %>
  </div>

  <div class="field">
  <%= f.label :variant_option_types %><br />
  <%= select_tag("variant_option_type_ids[]", options_for_select(VariantOptionType.find(:all).collect{ |vot| [vot.name, vot.id]},
  				@product.variant_option_types.collect { |vot| vot.id}),{:multiple=>true}) %>  	
  </div>

  <div class="field">
  <%= f.label :tags %><br />
  <%= select_tag("product[tag_ids][]", options_for_select(Tag.find(:all).collect{ |tag| [tag.name, tag.id]},
  				@product.tags.collect { |tag| tag.id}),{:multiple=>true}) %>  	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
