<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Vatexempt:</b>
  <%= @product.VAT_exempt %>
</p>

<h2>Product varies by</h2>

<% if @product.variant_option_types!=nil%>
<% 	@product.variant_option_types.each do |vot| %>
	<p><%=vot.name%> <em>(shown as <%=vot.display_name%></em>)</p>
<% end %>
<% end %>

<h2>Possible variants</h2>
<%= form_tag add_product_variants_path(@product) do |f| %>
<table>
	<tr>
	
	<% 	@product.variant_option_types.each do |vot| %>		
	<th><%=vot.display_name%></th>
	<% end %>
	
	<th>Select</th>
	</tr>
<% 	@possible_variants.each do |v| %>
<tr>
	<% v[:vos].each do |vo| %>
	<td><%=vo%></td>
	<% end %>
	<td><%= check_box_tag "variant_option_values[]", v[:code] %></td>
</tr>	
<% end %>
</table>
<%= submit_tag 'Add Variants'%>
<% end %>


<h2>Variants</h2>
<%= render :partial => "variants/variants_table", :locals => {:variants => @product.variants} %>


<%= link_to 'New Variant', new_product_variant_path(@product) %>

<%#= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
